.gidrocicles {
   // .gidrocicles__container
   &__container {
   }
   // .gidrocicles__inner
   &__inner {
   }
   // .gidrocicles__title
   &__title {
      margin-bottom: 30px;
      @media (max-width: $md4+px) {
         margin-bottom: 25px;
      }
   }
   // .gidrocicles__filter
   &__filter {
      margin-bottom: 47px;
   }
   //gidrocicles__wrapper
   &__wrapper {
      display: flex;
   }
   //gidrocicles__main-filter
   &__main-filter {
      flex: 0 0 290px;
   }
   // .gidrocicles__grid
   &__grid {
   }
}
