.banner-section {
   @include adaptiv-value("padding-top", 256, 145, 1);
   margin-bottom: 77px;
   // .banner-section__container
   &__container {
      @media (max-width: 500px) {
         width: 100%;
         padding: 0;
      }
   }
   // .banner-section__inner
   &__inner {
      display: flex;
      justify-content: space-between;
      @media (max-width: $md1+px) {
         display: block;
         text-align: center;
      }
   }
   // .banner-section__banner
   &__banner {
      flex: 0 1 870px;
      min-width: 0;
      max-height: 400px;
   }
   // .banner-section__discount-item
   &__discount-item {
      flex: 0 0 265px;
   }
}

.banner-slider {
   // .banner-slider__container
   &__container {
      @media (max-width: $md1+px) {
         max-width: 870px;
         max-height: 400px;
         margin: 0 auto;
         margin-bottom: 40px;
      }
   }
   // .banner-slider__wrapper
   &__wrapper {
   }
   // .banner-slider__item
   &__item {
      position: relative;
      padding-bottom: 45.978%;
      min-height: 164px;
      max-height: 400px;
      img {
         position: absolute;
         width: 100%;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }
}
.bunner-slider {
   // .bunner-slider__pagination
   &__pagination {
      .swiper-pagination-bullet {
         width: 11px;
         height: 11px;
         background-color: transparent;
         border-radius: 50%;
         border: 1px solid #fff;
      }
      .swiper-pagination-bullet-active {
         background-color: #fff;
      }
      .swiper-pagination-bullet-active-prev,
      .swiper-pagination-bullet-active-next {
         opacity: 0.5;
      }
   }
   // .bunner-slider__button-prev
   &__button-prev {
      &.swiper-button-disabled {
         pointer-events: auto;
      }
   }
   // .bunner-slider__button-next
   &__button-next {
      transform: rotate(-180deg);
      &.swiper-button-disabled {
         pointer-events: auto;
      }
   }
   &__button-prev::after,
   &__button-next::after {
      font-size: 0;
   }
   &__button-prev,
   &__button-next {
      @media (max-width: 500px) {
         display: none;
      }
   }
}

.item-discont {
   display: inline-flex;
   flex-direction: column;
   border: 1px solid #cdcdcd;
   border-radius: 3px;
   min-height: 400px;
   transition: all 0.3s ease 0s;
   @media (min-width: $md2+px) {
      &:hover {
         box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
         border-radius: 3px;
      }
   }
   @media (max-width: $md1+px) {
      max-width: 265px;
   }
   // .item-discont__discont-label
   &__discont-label {
      position: relative;
      &::before {
         content: "акция";
         position: absolute;
         display: inline-block;
         text-transform: uppercase;
         color: #fff;
         padding: 8px 20px;
         background-color: $mainBlue;
         font-size: 12px;
         letter-spacing: 0.1em;
      }
   }
   // .item-discont__body
   &__body {
      display: inline-flex;
      flex-direction: column;
      flex: 1 0 auto;
   }
   // .item-discont__top
   &__top {
      margin-left: auto;
      margin-bottom: 7px;
   }
   //item-discont__content
   &__content {
      padding: 0 30px;
      text-align: center;
      margin-bottom: 7px;
   }
   // .item-discont__price
   &__price {
      margin-left: auto;
      text-align: right;
   }
   // .item-discont__img
   &__img {
   }
   // .item-discont__title
   &__title {
      max-width: 232px;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
   }
   // .item-discont__footer
   &__footer {
      background: #f0f0f4;
      border-radius: 3px;
      text-align: center;
      padding: 26px 20px;
      font-size: 18px;
      line-height: 21 / 18 * 100%;
      span {
         display: block;
         color: #1c62cd;
         font-weight: 700;
      }
   }
}
.price-discont {
   font-family: "Barlow";
   // .price-discont__new
   &__new {
      font-family: inherit;
      font-weight: 700;
      font-size: 27px;
      line-height: 32 / 27 * 100%;
      color: $mainBlue;
      margin-right: 7px;
      margin-bottom: 4px;
      span {
         margin-right: 6px;
      }
   }
   // .price-discont__old
   &__old {
      line-height: 17px;
      color: #c4c4c4;
      margin-right: 4px;
      span {
         display: inline-block;
         position: relative;
         padding-right: 8px;
         padding-top: 4px;
         &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 100%;
            top: 50%;
            bottom: 0;
            right: 0;
            background-color: #c4c4c4;
            height: 2px;
            transform: rotate(-13deg);
         }
      }
   }
}
