.popular-products {
   margin-bottom: 85px;
   // .popular-products__container
   &__container {
   }
   // .popular-products__body
   &__body {
   }
   // .popular-products__title
   &__title {
      margin-bottom: 10px;
   }
   // .popular-products__tabs
   &__tabs {
      margin-bottom: 25px;
      @media (max-width: 650px) {
         overflow-x: auto;
      }
   }
   // .popular-products__contents
   &__contents {
      margin-bottom: 36px;
   }
   // .popular-products__item
   &__item {
   }
   &__button-prev,
   &__button-next {
      @media (max-width: $md2+px) {
         display: none;
      }
   }
   // .popular-products__button-prev
   &__button-prev {
      transform: translate(-50px, 0px);
      &::after {
         font-size: 0;
      }
      &.swiper-button-disabled {
         pointer-events: auto;
      }
      @media (max-width: 1278px) {
         transform: translate(0px, 0px);
         background-color: rgba(255, 255, 255, 0.685);
      }
   }
   // .popular-products__button-next
   &__button-next {
      transform: translate(50px, 0px);
      &::after {
         font-size: 0;
      }
      svg {
         transform: rotate(-180deg);
      }
      &.swiper-button-disabled {
         pointer-events: auto;
      }
      @media (max-width: 1278px) {
         transform: translate(0px, 0px);
         background-color: rgba(255, 255, 255, 0.685);
      }
   }
   // .popular-products__button
   &__button {
      display: block;
      text-align: center;
      margin: 0 auto;
      span {
         display: inline-block;
         font-size: 15px;
         line-height: 18px;
         text-align: center;
         letter-spacing: 0.12em;
         text-transform: uppercase;
         background: #f0f0f4;
         padding: 16px 43px;
         transition: all 0.3s ease 0s;
         @media (min-width: $md2+px) {
            &:hover {
               background: $mainColorText;
               color: #f0f0f4;
            }
         }
      }
   }
   //popular-products__pagination
   &__pagination {
      display: none;
      @media (max-width: 992px) {
         display: flex;
         justify-content: center;
         min-width: 100%;
         bottom: 0;
         z-index: 7;
         .swiper-pagination-bullet {
            width: 14px;
            height: 14px;
            background-color: #c4c4c4;
            &.swiper-pagination-bullet-active {
               background-color: $mainBlue;
            }
            & + .swiper-pagination-bullet {
               margin-left: 20px;
            }
         }
      }
   }
}

.popular-item-products {
   display: none;
   &._active {
      position: relative;
      display: block;
   }
   // .popular-item-products__container
   &__container {
      padding: 5px 0px 19px 0;
   }
   // .popular-item-products__wrapper
   &__wrapper {
   }
   // .popular-item-products__item
   &__item {
      @media (max-width: 420px) {
         text-align: center;
      }
   }
}
