.header {
   // .header__bottom
   &__bottom {
   }
}
.bottom-header {
   // .bottom-header__menu
   &__menu {
      background-color: #f0f0f4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 860px) {
         justify-content: flex-start;
         overflow-x: auto;
         margin: 0 -10px;
      }
   }
   // .bottom-header__menu-link
   &__menu-link {
      padding: 15px 0;
      margin: 0 7.5px;
      font-size: 20px;
      line-height: 120%;
      position: relative;
      &:first-child {
         margin-left: 0;
      }
      &:last-child {
         margin-right: 0;
      }
      &::before {
         content: "";
         display: inline-block;
         height: 3px;
         width: 0%;
         position: absolute;
         bottom: -3px;
         right: 0;
         background-color: #1c62cd;
         transition: all 0.3s ease 0s;
         @media (max-width: 860px) {
            bottom: 0;
         }
      }
      &._active {
         font-weight: 600;
         &::before {
            width: 100%;
         }
      }

      @media (min-width: $md2+px) {
         &:hover {
            &::before {
               width: 100%;
               left: 0;
            }
         }
      }
   }
}
