.header {
   // .header__aside-menu
   &__aside-menu {
   }
}
.menu-asside {
   // .menu-asside__adress
   &__adress {
      padding-top: 65px;
      padding-bottom: 136px;
      font-weight: 700;
      font-size: 20px;
      line-height: 24 / 20 * 100%;
   }
}
.menu-aside {
   display: none;
   @media (max-width: $md2+px) {
      position: fixed;
      z-index: 10;
      left: 0;
      display: block;
      width: 243px;
      height: 100%;
      z-index: 10;
      transition: all 0.3s ease 0s;
      background: #ffffff;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
      transform: translate(-100%, 0px);
      &._active {
         transform: translate(0px, 0px);
         overflow-y: auto;
      }
      // .menu-aside__list
      &__list {
         // overflow-y: auto;
      }
      // .menu-aside__link
      &__link {
         position: relative;
         display: block;
         padding: 38px 0 0 53px;
         border-bottom: 1px solid rgba(0, 0, 0, 0.1);
         font-size: 20px;
         line-height: 24 /20 * 100%;
         background-position: 10px 100%;
         background-repeat: no-repeat;
         // .menu-aside__link_user
         &_user {
            background-image: url("../img/icon/aside-icon/user.svg");
         }
         // .menu-aside__link_like
         &_like {
            background-image: url("../img/icon/aside-icon/user.svg");
         }
         // .menu-aside__link_basket
         &_basket {
            background-image: url("../img/icon/aside-icon/basket.svg");
         }
         // .menu-aside__link_shop
         &_shop {
            background-image: url("../img/icon/aside-icon/shop.svg");
         }
         // .menu-aside__link_percent
         &_percent {
            background-image: url("../img/icon/aside-icon/percent.svg");
         }
         // .menu-aside__link_delivery
         &_delivery {
            background-image: url("../img/icon/aside-icon/delivery.svg");
         }
      }
   }
}
