// ========================== Бургер ====================================
.burger-icon {
   height: 22px;
   position: relative;
   display: flex;
   align-items: center;
   span,
   &::before,
   &::after {
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: $mainColorText;
      transition: all 0.3s ease 0s;
   }
   &::after {
      content: "";
      top: 0;
      left: 0;
   }
   &::before {
      content: "";
      bottom: 0;
      left: 0;
   }
   span {
      top: 50%;
      left: 0;
      transform: translate(0px, -50%);
      opacity: 1;
   }
   //  ================  При активном бургере  ================
   &._active {
      span {
         transform: scale(0);
      }
      &::after {
         transform: translateY(-50%) rotate(45deg);
         top: 50%;
      }
      &::before {
         transform: translateY(-50%) rotate(-45deg);
         top: 50%;
      }
   }
}
// Бургер =================== Бургер ============================= Бургер
//=======================================================================

// ========================== Карточка товара ===========================
.item-product {
   display: inline-flex;
   width: 271px;
   @media (min-width: $md2+px) {
      &:hover {
         box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
         border-radius: 3px;
         .item-product__price,
         .item-product__title {
            color: $mainBlue;
         }
      }
   }
   // .item-product__inner
   &__inner {
      position: relative;
      padding: 52px 25px 31px 25px;
      flex: 0 0 271px;
      display: flex;
      min-height: 403px;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      border: 1px solid #cdcdcd;
      border-radius: 3px;
   }
   &.sale {
      .item-product__inner::before {
         content: "SALE";
         position: absolute;
         top: 0;
         left: 0;
         font-size: 12px;
         line-height: 14 / 12 * 100%;
         letter-spacing: 0.07em;
         color: #ffffff;
         background-color: $mainBlue;
         padding: 8px 15px;
      }
   }
   // .item-product__like
   &__like {
      position: absolute;
      top: 16px;
      right: 19px;
      width: 34px;
      height: 32px;
      background: url("../img/icon/full-like-icon.svg") no-repeat;
      background-position: center;
      padding: 10px;
      transition: all 0.3s ease 0s;
      &.empty-like {
         background: url("../img/icon/empty-like-icon.svg") no-repeat;
         background-position: center;
      }
      @media (min-width: $md2+px) {
         &:hover {
            box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
            border-radius: 50%;
         }
      }
   }
   // .item-product__img
   &__img {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      width: 200px;
      height: 200px;
      margin-bottom: 14px;
      @media (min-width: $md2+px) {
         &:hover {
            .item-product__hover-text {
               opacity: 0.9;
            }
         }
      }
      img {
         max-width: 100%;
         object-fit: cover;
      }
   }
   // .item-product__hover-text
   &__hover-text {
      opacity: 0;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: all 0.3s ease 0s;
      span {
         font-size: 20px;
         line-height: 24 / 20 * 100%;
         flex: 0 0 230px;
         background: #ffffff;
         box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
         border-radius: 3px;
         padding: 18px 0;
      }
   }
   // .item-product__title
   &__title {
      margin-bottom: auto;
      font-size: 18px;
      line-height: 21 / 18 * 100%;
      margin-bottom: 13px;
      transition: all 0.3s ease 0s;
   }
   // .item-product__price
   &__price {
      transition: all 0.3s ease 0s;
      font-family: "Barlow", sans-serif;
      font-weight: 700;
      font-size: 30px;
      line-height: 36 / 30 * 100%;
      margin-top: auto;
   }
   // .item-product__basket
   &__basket {
      position: absolute;
      bottom: 0;
      right: 0;
      display: inline-block;
      width: 50px;
      height: 40px;
      background-color: $mainBlue;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 2px solid transparent;
      border-radius: 10px 0px 0px 0px;
      transition: all 0.3s ease 0s;
      path {
         transition: all 0.3s ease 0s;
      }
      @media (min-width: $md2+px) {
         &:hover {
            background-color: #fff;
            border: 2px solid $mainBlue;
            path {
               fill: $mainBlue;
            }
         }
      }
   }
   // .item-product__not-yet
   &__not-yet {
   }
}

.not-available {
   .not-yet {
      display: block;
      margin-top: auto;
   }
   .item-product__price {
      display: none;
   }
   .item-product__basket {
      display: none;
   }
}
.not-yet {
   display: none;
   // .not-yet__text
   &__text {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 13px;
   }
   // .not-yet__link
   &__link {
      font-size: 16px;
      line-height: 19 /16 * 100%;
      border-bottom: 1px solid transparent;
      color: #1c62cd;
      @media (min-width: $md2+px) {
         &:hover {
            border-bottom: 1px solid $mainBlue;
         }
      }
   }
}
.home-page-title {
   font-family: "Barlow", sans-serif;
   font-weight: 700;
   font-size: 25px;
   line-height: 30 / 25 * 100%;
}
.home-tabs {
   display: flex;
   justify-content: flex-start;
   // .home-tabs__button
   &__button {
      padding: 0 0 10px 0;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      transition: all 0.3s ease 0s;
      @media (min-width: $md2+px) {
         &:hover {
            border-bottom-color: $mainBlue;
         }
      }
      & + .home-tabs__button {
         margin-left: 50px;
      }
      &._active {
         text-shadow: 0 0 0.65px $mainColorText, 0 0 0.65px $mainColorText;
         border-bottom: 2px solid $mainBlue;
      }
   }
}
// Карточка товара ======================================= Карточка товара
//========================================================================

// ====================== Полезные / Общие классы ========================
.main {
   flex: 1 1 auto;
}
.body-lock {
   overflow: hidden;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      width: 100%;
      min-height: 100%;
      background-color: rgba(0, 0, 0, 0.281);
      transition: all 0.3s ease 0s;
      z-index: 8;
   }
}
// Полезные / Общие классы ======================= Полезные / Общие классы
// =======================================================================

// ========================== Хлебные крошки =============================
.breadcrumbs {
   @include adaptiv-value("margin-top", 222, 153, 1);
   margin-bottom: 41px;
   // .breadcrumbs__container
   &__container {
   }
   // .breadcrumbs__inner
   &__inner {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
   }
   // .breadcrumbs__item
   &__item {
      font-size: 15px;
      line-height: 18px;
      white-space: nowrap;
      color: #c4c4c4;
      &::after {
         content: "";
         display: inline-block;
         background-image: url("../img/icon/arrow-right-icon.svg");
         background-repeat: no-repeat;
         width: 6px;
         height: 10px;
         background-position: right center;
         background-size: 6px 10px;
         margin: 0 10px;
      }
      &:last-child::after {
         display: none;
      }
   }
}
// Хлебные крошки ========================================= Хлебные крошки
//========================================================================

// ======================= filter-top-catalog =======================

.grid-select {
   position: relative;
   // .grid-select__header
   &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1.5px solid #d7d9df;
      width: 178px;
      height: 33px;
   }
   // .grid-select__current
   &__current {
      padding: 0 16px;
      white-space: nowrap;
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &::after {
         content: "";
         transform: rotate(-180deg);
         transition: all 0.3s ease 0s;
         display: inline-block;
         margin-left: 20px;
         width: 13px;
         height: 13px;
         background: url("../img/icon/aside-icon/arrow-top.svg") right center / auto auto no-repeat;
      }
   }
   // .grid-select__sub
   &__sub {
      position: absolute;
      text-align: center;
      top: 100%;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      border: 1.5px solid #d7d9df;
      border-top: none;
   }
   // .grid-select__sub-item
   &__sub-item {
      cursor: pointer;
      padding: 10px;
      @media (min-width: $md2+px) {
         &:hover {
            background-color: #f4f4f4;
         }
      }
   }
   &._active {
      .grid-select__sub {
         opacity: 1;
         visibility: visible;
         background-color: #fff;
         z-index: 9;
      }
      .grid-select__current {
         &::after {
            transform: rotate(0deg);
         }
      }
   }
}

.filter-top-catalog {
   // .filter-top-catalog__inner
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }
   // .filter-top-catalog__buttons
   &__buttons {
      @media (max-width: $md2+px) {
         flex: 0 1 100%;
         order: 1;
         margin-top: 20px;
      }
   }
   // .filter-top-catalog__item
   &__item {
      color: #696a6e;
      padding: 8px 25px;
      background: #f0f0f4;
      border-radius: 3px;
      margin-bottom: 10px;
   }
   // .filter-top-catalog__grid
   &__grid {
      display: flex;
      @media (max-width: $md2+px) {
         flex: 0 1 100%;
         justify-content: space-between;
      }
   }
   // .filter-top-catalog__grid-select
   &__grid-select {
   }
   // .filter-top-catalog__grid-buttons
   &__grid-buttons {
      margin-left: 34px;
      align-self: center;
   }
   // .filter-top-catalog__grid-button
   &__grid-button {
      & + .filter-top-catalog__grid-button {
         margin-left: 10px;
      }
   }
   // .filter-top-catalog__grid-all
   &__grid-all {
   }
   // .filter-top-catalog__grid-line
   &__grid-line {
      &._active {
         rect {
            fill: #f0f0f4;
         }
      }
      @media (max-width: 650px) {
         pointer-events: none;
      }
   }
   &__grid-all {
      &._active {
         rect {
            stroke: #f0f0f4;
         }
      }
   }
}
// filter-top-catalog ============================ filter-top-catalog
.title-catalog {
   font-weight: 700;
   font-size: 30px;
   line-height: 36 / 30 * 100%;
}

// ================= grid-products =======================
.grid-products {
   width: 100%;
   // .grid-products__inner
   &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -10px;
      @media (max-width: $md1+px) {
         justify-content: space-around;
      }
   }
   // .grid-products__item
   &__item {
      margin-bottom: 30px;
      padding: 0 10px;
   }
   // .grid-products__pagination
   &__pagination {
      @include adaptiv-value("margin-bottom", 100, 40, 1);
   }
   &.grid-products_line {
      display: block;
      .grid-products__inner {
         display: block;
         margin: 0;
      }
      .grid-products__item {
         padding: 0;
         @media (min-width: $md2+px) {
            &:hover {
               .item-product__img {
                  transform: scale(1.1);
               }
            }
         }
      }
      .item-product {
         display: flex;
         width: 100%;
      }
      .item-product__inner {
         flex: 0 0 100%;
         min-height: auto;
         flex-direction: row;
         justify-content: flex-end;
         padding: 35px;
      }
      .item-product__img {
         margin-right: auto;
         margin-bottom: 0;
         width: 100px;
         height: 100px;
         transition: all 0.3s ease 0s;
      }
      .item-product__hover-text {
         display: none;
      }
      .item-product__title {
         font-size: 20px;
         position: absolute;
         top: 50%;
         right: 35px;
         transform: translate(0px, -50%);
         @media (max-width: $md2+px) {
            font-size: 16px;
         }
      }
   }
}
//=========================================================

// ============ catalog-pagination ======================
.catalog-pagination {
   text-align: center;
   // .catalog-pagination__inner
   &__inner {
      display: inline-flex;
   }
   // .catalog-pagination__item
   &__item {
      border: 1px solid transparent;
      font-family: "Barlow";
      font-weight: 600;
      font-size: 18px;
      line-height: 22 / 18 * 100%;
      color: #c4c4c4;
      padding: 10px 15px;
      &._active {
         border-color: #1c62cd;
         color: #1c62cd;
      }
   }
}
//=========================================================
//=========================================================
//=========================================================
//=========================================================
//=========================================================
// ======================== filter-main ====================
.filter-main {
   // .filter-main__body
   &__body {
      transition: height 0.3s ease 0s;
   }
   // .filter-main__tabs
   &__tabs {
      margin-bottom: 40px;
   }
   // .filter-main__contents
   &__contents {
   }
}

.tabs-filter {
   display: flex;
   // .tabs-filter__item
   &__item {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.09em;
      text-transform: uppercase;
      color: #c4c4c4;
      cursor: pointer;
      padding-bottom: 7px;
      &._active {
         border-bottom: 2px solid #1c62cd;
         color: $mainColorText;
         font-weight: 700;
      }
      & + .tabs-filter__item {
         margin-left: 42px;
      }
   }
}
.contents-filter {
   // .contents-filter__content-block
   &__content-block {
      display: none;
      &._active {
         display: block;
      }
   }
}

.parameters-filter {
   //parameters-filter__wrapper
   &__wrapper {
      overflow: hidden;
      transition: all 0.3s ease 0s;
   }
   // .parameters-filter__availability
   &__availability {
      margin-bottom: 40px;
   }
   // .parameters-filter__label
   &__label {
      cursor: pointer;
      position: relative;
      font-weight: 600;
      font-size: 16px;
      line-height: 19 / 16 * 100%;
      margin-bottom: 19px;
      padding-left: 24px;
      &::before {
         content: "";
         transition: all 0.3s ease 0s;
         height: 7.4px;
         width: 12px;
         position: absolute;
         left: 0;
         top: 50%;
         transform: rotate(-180deg) translate(0px, 50%);
         display: inline-block;
         background-image: url("../img/icon/aside-icon/arrow-top.svg");
         background-repeat: no-repeat;
      }
   }
   // .parameters-filter__novelty
   &__novelty {
      margin-bottom: 40px;
   }
   // .parameters-filter__price
   &__price {
      margin-bottom: 40px;
   }
   // .parameters-filter__power
   &__power {
      margin-bottom: 26px;
   }
   // .parameters-filter__mustang
   &__mustang {
      margin-bottom: 26px;
   }
   // .parameters-filter__speed
   &__speed {
      margin-bottom: 40px;
   }
   // .parameters-filter__brend
   &__brend {
      margin-bottom: 40px;
   }
   // .parameters-filter__model
   &__model {
      margin-bottom: 40px;
   }
   // .parameters-filter__discont
   &__discont {
      margin-bottom: 40px;
   }
   // .parameters-filter__countries
   &__countries {
      margin-bottom: 40px;
   }
   //parameters-filter__item
   &__item {
      &:last-child {
         margin-bottom: 0;
      }
      &._active {
         .parameters-filter__label::before {
            transform: translate(0px, -50%) rotate(-360deg);
         }
      }
   }
   //parameters-filter__button
   &__button {
      padding: 16px 85px;
      background: #f0f0f4;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #bdbec2;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 15px;
   }
   // .parameters-filter__select-yet
   &__select-yet {
      margin-bottom: 20px;
      @media (max-width: 850px) {
         display: none;
      }
   }
   //parameters-filter__button-reset
   &__button-reset {
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 16px;
      text-decoration-line: underline;
      color: #c4c4c4;
      display: block;
      margin: 0 auto;
   }
}

.select-yet {
   text-align: center;
   // .select-yet__current
   &__current {
      position: relative;
      cursor: pointer;
      font-size: 13px;
      line-height: 16px;
      padding: 10px 0;
      span {
      }
      &::after {
         position: absolute;
         top: 50%;
         right: 30px;
         content: "";
         align-self: center;
         transform: translateY(-50%) rotate(180deg);
         display: inline-block;
         width: 10px;
         height: 10px;
         transition: all 0.3s ease 0s;
         background: url("../img/icon/aside-icon/arrow-top.svg") center / auto auto no-repeat;
      }
   }
   // .select-yet__list
   &__list {
      overflow: hidden;
      transition: height 0.3s ease 0s;
      background-color: #f0f0ff;
   }
   // .select-yet__option
   &__option {
      cursor: pointer;
      font-size: 13px;
      line-height: 16px;
      padding: 5px 10px;
      transition: all 0.3s ease 0s;
      // border-radius: 30px;
      @media (min-width: $md2+px) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
   &._active {
      .select-yet__current::after {
         transform: translateY(-50%) rotate(0deg);
      }
   }
}

.availability {
   // .availability__label
   &__label {
   }
   // .availability__wrapper
   &__wrapper {
   }
   // .availability__chackbox
   &__chackbox {
      display: flex;
   }
   // .availability__chackbox-item
   &__chackbox-item {
      position: relative;
      input {
         position: absolute;
      }
      label {
         display: flex;
         align-items: center;
         cursor: pointer;
         &::before {
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid #c4c4c4;
            margin-right: 12px;
         }
      }
      input:checked + label::before {
         background-color: $mainBlue;
         border-color: $mainBlue;
      }
      & + .availability__chackbox-item {
         margin-left: 50px;
      }
   }
}
.novelty {
   // .novelty__label
   &__label {
   }
   // .novelty__wrapper
   &__wrapper {
   }
   // .novelty__chackbox
   &__chackbox {
      display: flex;
   }
   // .novelty__chackbox-item
   &__chackbox-item {
      input {
         position: absolute;
      }
      label {
         display: flex;
         align-items: center;
         cursor: pointer;
         &::before {
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid #c4c4c4;
            margin-right: 12px;
         }
      }
      input:checked + label::before {
         background-color: $mainBlue;
         border-color: $mainBlue;
      }
      & + .novelty__chackbox-item {
         margin-left: 19px;
      }
   }
}
.price-filter {
   // .price-filter__label
   &__label {
   }
   // .price-filter__wrapper
   &__wrapper {
   }
}
.price-slider {
   // .price-slider__inner
   &__inner {
      padding-top: 5px;
   }
   // .price-slider__slider
   &__slider {
      margin-bottom: 23px;
   }
   // .price-slider__inputs
   &__inputs {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   // .price-slider__inputs-label
   &__inputs-label {
      display: flex;
      line-height: 17px;
   }
   // .price-slider__inputs-text
   &__inputs-text {
      color: #c4c4c4;
   }
   // .price-slider__input
   &__input {
      margin: 0 10px;
      text-decoration: underline;
   }
}
.brend,
.model,
.countries {
   // .brend__label
   &__label {
   }
   // .brend__wrapper
   &__wrapper {
   }
   // .brend__chackbox
   &__chackbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   // .brend__chackbox-item
   &__chackbox-item {
      flex: 0 0 50%;
      margin-bottom: 18px;
      input {
         position: absolute;
      }
      label {
         display: flex;
         align-items: center;
         cursor: pointer;
         &::before {
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid #c4c4c4;
            margin-right: 12px;
         }
      }
      input:checked + label::before {
         border-color: $mainBlue;
         background: $mainBlue url("../img/icon/aside-icon/check.svg") center / auto auto no-repeat;
      }
   }
   //brend__btn
   &__btn {
      line-height: 17px;
      color: $mainBlue;
      border-bottom: 1px solid $mainBlue;
   }
}
.model {
   // .model__search
   &__search {
      border: 1px solid #e0e0e0;
      padding: 0 10px;
      margin-bottom: 20px;
   }
   // .model__search-input
   &__search-input {
      height: 30px;
      width: 100%;
   }
}
.discont {
   // .discont__label
   &__label {
   }
   // .discont__wrapper
   &__wrapper {
   }
   // .discont__chackbox
   &__chackbox {
      display: flex;
   }
   // .discont__chackbox-item
   &__chackbox-item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      input {
         position: absolute;
      }
      label {
         padding: 6px 15px;
         display: inline-flex;
         font-weight: 700;
         font-size: 12px;
         letter-spacing: 0.07em;
         color: #ffffff;
      }
      //discont__chackbox-item_sale
      &_sale {
         background-color: $mainBlue;
      }
      //discont__chackbox-item_new
      &_new {
         background-color: orangered;
      }
      //discont__chackbox-item_hit
      &_hit {
         background-color: lightgreen;
      }
      //discont__chackbox-item_diller
      &_diller {
         background-color: #2f3035;
      }
      & + .discont__chackbox-item {
         margin-left: 10px;
      }
      input:disabled {
         & + label {
            color: #c4c4c4;
            background-color: #f0f0f4;
         }
      }
      input:checked + label {
         background-color: $mainBlue;
         color: $mainColorText;
      }
   }
}

//=========================================================

.power-filter,
.mustang-filter,
.speed-filter {
   padding-bottom: 14px;
   padding-left: 20px;
   padding-right: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid #c4c4c4;
   // .power-filter__label
   &__label {
      font-weight: 600;
      font-size: 16px;
      line-height: 19 / 16 * 100%;
   }
   // .pover-filter__select
   &__select {
   }
}
.select-power,
.select-mustang,
.select-speed {
   position: relative;
   // .select-power__current
   &__current {
      font-family: "Barlow";
      display: flex;
      align-items: center;
      line-height: 17px;
      &::after {
         content: "";
         cursor: pointer;
         transition: all 0.3s ease 0s;
         margin-left: 14px;
         display: inline-block;
         width: 12px;
         height: 14px;
         background-image: url("../img/icon/aside-icon/arrow-top.svg");
         background-repeat: no-repeat;
         background-position-y: center;
      }
   }

   // .select-power__sub
   &__sub {
      position: absolute;
      display: inline-block;
      right: 0;
      top: 100%;
      background: #ffffff;
      border: 1px solid #e0e0e0;
      padding: 15px 0px 8px 0px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      z-index: 1;
   }
   // .select-power__item
   &__item {
      font-family: "Barlow";
      line-height: 17px;
      padding: 4px 19px 4px 15px;
      @media (min-width: $md2+px) {
         &:hover {
            background-color: #c4c4c4;
            cursor: pointer;
         }
      }
   }
}
//============ _select._active ===================
.select-power._active {
   .select-power__sub {
      opacity: 1;
      visibility: visible;
   }
   .select-power__current {
      &::after {
         transform: rotate(-180deg);
      }
   }
}
.select-mustang._active {
   .select-mustang__sub {
      opacity: 1;
      visibility: visible;
   }
   .select-mustang__current {
      &::after {
         transform: rotate(-180deg);
      }
   }
}
.select-speed._active {
   .select-speed__sub {
      opacity: 1;
      visibility: visible;
   }
   .select-speed__current {
      &::after {
         transform: rotate(-180deg);
      }
   }
}
//=========================================================
//=========================================================
//=========================================================
//=========================================================
// noUISlider
.noUi-target {
   background: #e0e0e0;
   border-radius: none;
   border: none;
   box-shadow: none;
   height: 1px;
   display: flex;
   align-items: center;
}
.noUi-base {
   height: 3px;
}
.noUi-connect {
   background: $mainBlue;
}
.noUi-handle {
   background-color: $mainBlue;
   border: none;
   box-shadow: none;
}
.noUi-horizontal .noUi-handle {
   width: 8px;
   height: 8px;
   border-radius: 50%;
   right: 0;
   top: -2px;
   cursor: pointer;
}
.noUi-handle::after,
.noUi-handle::before {
   display: none;
}
.noUi-horizontal .noUi-handle-lower {
   right: -6px;
}
//=========================================================
